/frontend/* @team-agile-div/npc-members-service-regular
/backend/* @team-agile-div/npc-members-service-regular
/infrastructure/* @team-agile-div/npc-members-service-regular @uematsu0921
* @team-agile-div/npc-members-service-regular